### .NET (C#) Web API (backend) ###

# Ignore build directories
/SmartAcademyBackend/SmartAcademyBackend/bin/
/SmartAcademyBackend/SmartAcademyBackend/obj/

# User-specific files (IDE and Visual Studio related)
.vs/
.vscode/
.idea/

# ASP.NET Core specific files (such as appsettings, logs, etc.)
/SmartAcademyBackend/SmartAcademyBackend/App_Data/
/SmartAcademyBackend/SmartAcademyBackend/appsettings*.json

# .NET publish output
/SmartAcademyBackend/SmartAcademyBackend/publish/

# Temporary files created by Visual Studio
.vs2019/
/.vs2017/
/.vs2015/

# Node modules (if you have any server-side node packages)
node_modules/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# ASP.NET Core temporary files
/SmartAcademyBackend/SmartAcademyBackend/aspnet/

### Other ###
# System files
.DS_Store
Thumbs.db
